<%= form_tag "/v1/facility/#{facility.id}", method: :post, class: 'panel facility__widget', id: "facility-form-#{facility.id}" do %>
  <%= hidden_field_tag('facility[vendor]', :metrc) %>
  <%= hidden_field_tag('facility[state]', integrations[facility.id]&.state || facility.state&.downcase) %>
  <%= hidden_field_tag('facility[timezone]', facility.time_zone) %>

  <header class="panel__header">
    <h4 class="panel__title">
      <%= facility.name %>
    </h4>

    <% if facility.state %>
      <span class="pill pill--purple ml-auto text--xxs">
        <%= "#{facility.state}" %>
      </span>
    <% end %>
  </header>

  <section>
    <% if facility.state.nil? %>
      <div class="header__alerts danger">
        <div class="alert">
          Please define a state name on your facility's settings.
        </div>
      </div>
    <% end %>

    <div class="my">
      <%= label_tag('facility[eod]', "Time after end-of-workday when Metrc should be updated (#{facility.time_zone})") %>
      <%= select_hour integrations[facility.id]&.eod, prefix: :facility, field_name: :eod, ampm: true %>
    </div>

    <div class="my">
      <%= label_tag('facility[license_number]', 'Metrc License Number') %>
      <%= text_field_tag('facility[license_number]', integrations[facility.id]&.vendor_id, class: 'text--mono') %>
    </div>

    <div class="my">
      <%= label_tag('facility[api_key]', 'Metrc User API Key') %>
      <%= text_field_tag('facility[api_secret]', integrations[facility.id]&.secret, class: 'text--mono') %>
    </div>

    <% if integrations[facility.id] %>
      <%= button_tag 'Update', type: :submit, class: 'btn btn--green fr' %>
    <% elsif facility.state %>
      <%= button_tag 'Save', type: :submit, class: 'btn btn--green fr' %>
    <% end %>
    <div class="clearfix"></div>
  </section>
<% end %>
