<%= form_tag "/v1/facility/#{facility.id}", method: :post, class: 'panel facility__widget', id: "facility-form-#{facility.id}" do %>
  <%= hidden_field_tag('facility[vendor]', :metrc) %>
  <%= hidden_field_tag('facility[state]', integrations[facility.id]&.state || facility.state&.downcase) %>
  <%= hidden_field_tag('facility[timezone]', facility.time_zone) %>

  <header class="panel__header">
    <h4 class="panel__title">
      <%= facility.name %>
    </h4>

    <% if facility.state %>
      <span class="pill pill--purple ml-auto text--xxs">
        <%= "#{facility.state}" %>
      </span>
    <% end %>
  </header>

  <section>
    <% if facility.state.nil? %>
      <div class="header__alerts danger">
        <div class="alert">
          Please define a state name on the facility's settings.
        </div>
      </div>
    <% end %>

    <div class="mt row">
      <div class="col-8">
        <%= label_tag('facility[eod]', "End-of-workday time to perform sync (#{facility.time_zone})") %>
        <%= select_hour integrations[facility.id]&.eod, prefix: :facility, field_name: :eod, ampm: true %>
      </div>

      <div class="col-4 check">
        <%= label_tag('facility[disable_harvest]', 'Harvests disabled?') %>
        <%= check_box_tag('facility[disable_harvest]', integrations[facility.id]&.disable_harvest, integrations[facility.id]&.disable_harvest, class: 'pl-xs') %>
      </div>
    </div>

    <div class="mb">
      <%= label_tag('facility[license_number]', 'Metrc License Number') %>
      <%= text_field_tag('facility[license_number]', integrations[facility.id]&.license, class: 'text--mono') %>
    </div>

    <div class="mb">
      <%= label_tag('facility[api_secret]', 'Metrc User API Key') %>
      <%= text_field_tag('facility[api_secret]', integrations[facility.id]&.secret, class: 'text--mono') %>
    </div>

    <% if integrations[facility.id] %>
      <%= button_tag 'Update', type: :submit, class: 'btn btn--green fr' %>
    <% elsif facility.state %>
      <%= button_tag 'Save', type: :submit, class: 'btn btn--green fr' %>
    <% end %>
    <div class="clearfix"></div>
  </section>
<% end %>
