<h1>Artemis Integrations</h1>

<% if @current_account %>
  <p>
    Hello <%= @current_account.name %>! You are already connected with Artemis.
  </p>

  <% if @facilities && @facilities.count > 0 %>
    <h2>Facilities:</h2>

    <%= form_tag do %>
      <%= render partial: 'facility', collection: @facilities %>
      <%= submit_tag "Save" %>
    <% end %>
  <% end %>

  <%= button_to "Revoke authorization", unauthorize_url(id: @current_account.id) %>
<% else %>
  <%= button_to "Connect with Artemis", authorize_url %>
<% end %>
