<!DOCTYPE html>
<html>
  <head>
    <title>CannAPI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '180x180' %>
    <%= favicon_link_tag 'favicon-32x32.png', rel: :icon, type: 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag 'favicon-16x16.png', rel: :icon, type: 'image/png', sizes: '16x16' %>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="js-header-logo directional-text">
          <a class="header__title" href="#">
            <%= image_tag 'shield-color-logo.svg', alt: 'Artemis Icon', class: 'header__logo' %>
            <span class="header__facility-name">Integrations</span>
          </a>
        </div>

        <nav class="header__nav js-header-nav">
          <%= yield :header_nav %>
        </nav>

        <div class="header__aux">
          <%= yield :header_aux %>
        </div>
      </header>

      <div class="main">
        <%= yield %>
      </div>

      <footer class="footer width d-f ai-c jc-c fs-0 py-lg ta-center">
        <a href="/">
          <%= image_tag 'logo-black.svg', alt: 'Artemis Icon', class: 'footer__logo' %>
        </a>
      </footer>
    </div>
  </body>
</html>
