<!DOCTYPE html>
<html>
  <head>
    <title>CannAPI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="js-header-logo directional-text">
          <a class="header__title" href="#">
            <img alt="Artemis Icon" class="header__logo" src="/assets/shield-color-logo.svg">
            <span class="header__facility-name">Integrations</span>
          </a>
        </div>

        <nav class="header__nav js-header-nav">
          <%= yield :header_nav %>
        </nav>

        <div class="header__aux">
          <%= yield :header_aux %>
        </div>
      </header>

      <div class="main">
        <%= yield %>
      </div>

      <footer class="footer width d-f ai-c jc-c fs-0 py-lg ta-center">
        <a href="/">
          <img alt="Artemis Logo" class="footer__logo" src="/assets/logo-black.svg">
        </a>
      </footer>
    </div>
  </body>
</html>
